%h1 Auth Test
%script{:src => "https://www.gstatic.com/firebasejs/live/3.0/firebase.js"}
:javascript
  var config = {
    apiKey: "AIzaSyCfTulwT5HfUo4rxqxMwKMXV0HLXD9xfdg",
    authDomain: "pivot-table-ab1bc.firebaseapp.com",
    databaseURL: "https://pivot-table-ab1bc.firebaseio.com",
    storageBucket: "",
  };
  firebase.initializeApp(config);
